.banner {
	background-image: url(../../images/backgound.jpg);
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	color: white;
}
.banner h1 {
	font-size: 60px;
	font-size: 40px;
    opacity: 0.9;
    text-align: center;
}
.banner h2 {
	font-size: 40px;   
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	text-align: center;
}
